<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--瓦片地图url,注意要将value中的&替换成引号中的字符串"&amp;"-->
    <add key="GOOGLE_SATELLITE_URL" value="http://mt{3}.google.cn/vt/lyrs=s@138&amp;hl=zh-CN&amp;gl=cn&amp;src=app&amp;x={1}&amp;y={2}&amp;z={0}&amp;s=Galileo"/>
    <add key="GOOGLE_ROAD_URL" value="http://mt{3}.google.cn/vt/lyrs=m@234000000&amp;hl=zh-CN&amp;gl=CN&amp;src=app&amp;x={1}&amp;y={2}&amp;z={0}&amp;s=Galileo"/>
    <add key="GOOGLE_Terrain_URL" value="http://mt{3}.google.cn/vt/lyrs=t@132,r@248000000&amp;hl=zh-CN&amp;gl=CN&amp;src=app&amp;x={1}&amp;y={2}&amp;z={0}&amp;s=Galileo"/>
  </appSettings>
  
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
